@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oxygen:wght@300;700&family=Roboto+Mono:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(216, 12%, 8%)
}

code {
  font-family: 'Open Sans', sans-serif;
}
